/* line 5, ../../../courses/CS50 wep programming/project0/stylesheet.scss */
#side-header, #home-header {
  list-style: none;
  margin: 0;
  position: sticky;
  background: deepskyblue;
  -webkit-flex-flow: row wrap;
  justify-content: flex-start;
}

/* line 15, ../../../courses/CS50 wep programming/project0/stylesheet.scss */
.col-sm, .grid-container .grid-item {
  text-align: center;
  font-size: 18px;
}

/* line 19, ../../../courses/CS50 wep programming/project0/stylesheet.scss */
#side-header a, #home-header a {
  text-decoration: none;
  display: block;
  padding: 1em;
  color: white;
  position: sticky;
}

/* line 29, ../../../courses/CS50 wep programming/project0/stylesheet.scss */
#side-header {
  font-size: 18px;
  text-align: left;
}

/* line 38, ../../../courses/CS50 wep programming/project0/stylesheet.scss */
#home-header {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

/* line 50, ../../../courses/CS50 wep programming/project0/stylesheet.scss */
#home-header a:hover {
  background-color: #357388;
  position: sticky;
}

/* line 54, ../../../courses/CS50 wep programming/project0/stylesheet.scss */
#side-header a:hover {
  background-color: #357388;
  position: sticky;
}

/* line 59, ../../../courses/CS50 wep programming/project0/stylesheet.scss */
.grid-container {
  display: grid;
  grid-template-columns: auto 1000px auto;
  grid-column-gap: 50px;
  background-color: rgba(0, 0, 0, 0);
  opacity: 0.5s;
  padding: 10px;
}

/* line 66, ../../../courses/CS50 wep programming/project0/stylesheet.scss */
.grid-container .grid-item {
  background-color: white;
  height: auto;
}

/* line 74, ../../../courses/CS50 wep programming/project0/stylesheet.scss */
#news1 {
  text-align: center;
}

/* line 76, ../../../courses/CS50 wep programming/project0/stylesheet.scss */
#news1 p {
  text-align: center;
}

/* line 81, ../../../courses/CS50 wep programming/project0/stylesheet.scss */
body {
  padding: 0;
  display: grid;
}

/* line 85, ../../../courses/CS50 wep programming/project0/stylesheet.scss */
#active {
  background-color: #357388;
}

/* line 88, ../../../courses/CS50 wep programming/project0/stylesheet.scss */
#background {
  display: grid;
  position: relative;
}

/* line 93, ../../../courses/CS50 wep programming/project0/stylesheet.scss */
#background:before {
  background-image: url("DPT Team 2nd year .jpg");
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  background-size: cover;
  filter: contrast(30%);
}

/* line 106, ../../../courses/CS50 wep programming/project0/stylesheet.scss */
#body {
  position: relative;
}

/* line 109, ../../../courses/CS50 wep programming/project0/stylesheet.scss */
#coll {
  background-color: #32CD32;
}

/* line 112, ../../../courses/CS50 wep programming/project0/stylesheet.scss */
article {
  width: 300px;
  text-align: center;
  place-items: center;
  display: block;
  background-color: white;
}

/*# sourceMappingURL=stylesheet.css.map */
